/* PHASE 9: Forms */
.thumb {
  float: left;

  /* display: block;
  position: relative;
  width: 58px;
  height: 58px;
  border: 1px solid #000;
  border-radius: 5px; */
}

.input{
  float: left;
  width: 500px;
  min-height: 300px;
  margin-left: 10px;
  background-color: gray;
  padding: 20px;
}

.content-main label, label > input {
  display: block;
  min-height: 50px;
  /* width: 100%; */
}



label > textarea {
  width: 500px;
  height: 250px;
  display: block;
}
